[Desktop Entry]
Name=XBindkeys DN
Type=Application
TryExec=dn-xbindkeys
Exec=dn-xbindkeys
Icon=dn-xbindkeys
Terminal=false
Categories=Utility;Accessibility
Actions=NewWindow;
X-DBUS-StartupType=Unique
StartupNotify=true
