[Desktop Entry]
Type=Application
TryExec=dn-xbindkeys
Exec=dn-xbindkeys
Icon=dn-xbindkeys
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
Actions=NewWindow;
X-DBUS-StartupType=Unique
StartupNotify=true
X-KDE-AuthorizeAction=shell_access

